body{
    background-color: lightgray;
    font-family: Arial;
}
.container{
    width: 400px;
    margin: 100px auto;
    background-color: #080808;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    color: #fafafa;
}
input{
    /*width: 100%;*/
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
button{
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
#resultado{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
@Midia (max-width: 500px){
    .container{
        width: 90%;
        margin: 50px auto;
    }
}