/*Reset basico de estilos para garantir consistência entre navegadores*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (max-width: 600px) {
    .cardapio {
        padding: 2px 10px;
        .cardapio h2{
            font-size: 16px;
        }
        .cardapio p{
            font-size: 12px;
        }

        flex-direction: column;
        align-items: center;
    }
}
/*menu de navegação*/
.menu {
    background-color: #0562ad;
    color: white;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
 color: white;
    font-size: 24px;
    font-weight: bold;
}
.menu-links{
    color: white;
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 25px;
}
.menu-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}
.menu-links a:hover {
    color: #ffcc00;
}
/*estilos para o rodapé*/
.barra-alerta {
    background-color: #ff0000;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    font-size: 18px;
}
/*container do rodapé*/
.footer-container {
    background-color: #0562ad;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer-logo h3{
    color: white;
    font-size: 34px;
    font-weight: bold;
}
.footer-links {
    color: white;
    display: flex;
    gap: 30px;
}
.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}
.footer-links a:hover {
    color: #ffcc00;
}
.footer-redes-sociais {
    display: flex;
    gap: 20px;
}
.footer-redes-sociais a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.4s;
}
.footer-redes-sociais a:hover {
    color: #ffcc00;
}
.cardapio {
    padding: 20px 50px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    flex-wrap: wrap;
}
.bloco {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: center;
}
.vermelho {
    background-color: #2b7ce7;
    color: white;
    padding: 20px;
    border-radius: 8px;
}
.beje {
    background-color: #68d9f5;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}
.verde {
    background-color: #05879e;
    color: white;
    padding: 30px;
    border-radius: 8px;
}
.imagem img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
}
.texto h3 {
    font-size: 24px;
    margin-bottom: 15px;
    gap: 30px;
}
.texto p {
    font-size: 16px;
    color: #fafafa;
    line-height: 1.5;
}
.texto{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}
